<p>register works!</p>
<div  class="container regco1 ">
    <div class="row">
        <div class="col-4"></div>
        <div  class="col-4 c1">
            <form >
                <div class="mb-3">
                    <input type="uname" class="form-control inpr " name="uname" formControlName="uname" placeholder="Username" id="signinuser1" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <input type="email" class="form-control inpr " name="email" formControlName="email" placeholder="User Id" id="signinEmail1" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <input type="password" class="form-control inpr " name="pswd" formControlName="pswd"placeholder="Password" id="signinPassword1">
                </div>

                <div class="mb-3 form-check">
                </div>
                <button routerLink="dashboard" style="margin-left: 0px;" value="register"  type="submit" class="btn btn btr ">Register</button><br><br>
                <button class="btr1" style="margin-left:443px; border-radius: 30px; "  routerLink="">Already have an account ?.. please Log in</button>

              </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<br><br>
