<p>login works!</p>

<div  class="container loginco ">
    <div class="row  login">
        <div class="col-4"></div>
        <div  class="col-4 ">  </div>
        <div class="col-4 l1">
            <h1 id="loginhead" style="font-size: 50px;">Log In</h1>
            <br><br>
            <form [formGroup]="loginForm" (ngSubmit)="login()" >
                <div class="mb-3">
                  <input type="text" class="form-control" name="Userid" formControlName ="userid" placeholder="Userid" id="loginUserid" aria-describedby="emailHelp">
                </div>

                <br><br>
            <div *ngIf=" this.loginForm.get('userid')?.touched &&this.loginForm.get('userid')?.errors" style="color: red;" >Invalid user id</div>

                <div class="mb-3">
                  <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="password" id="loginpswd">
                </div>

                 <br><br>
            <div *ngIf=" this.loginForm.get('pswd')?.touched &&this.loginForm.get('pswd')?.errors" style="color: red;" >Invalid password</div>

                <div class="mb-3 form-check">
                </div>
                <button  id="loginbtn" style="margin-left: 0px;" value="login"  type="submit" class="btn btn-primary">Log In</button><br><br><br><br>
                <button routerLink="register" id="logregbtn" style="margin-left: 0px;" routerLink="register">Not a member? Register</button>

              </form>
              <br><br>
<br>
        </div>

    </div>
</div>

<br><br>
